body {
  background-color: #3E0703;
}

.submit-button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: #FFF0C4;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  /* text-transform: uppercase; */
  font-size: 15px;
  transition: all 0.5s ease;
}

.submit-button:hover {
  letter-spacing: 3px;
  background-color: #8C1007;
  color: hsl(0, 0%, 100%);
  box-shadow: #8C1007;
}

.submit-button:active {
  letter-spacing: 3px;
  background-color: #8C1007;
  color: hsl(0, 0%, 100%);
  box-shadow: #8C1007;
  transform: translateY(10px);
  transition: 100ms;
}

input {
  background-color: #FFF0C4;
  width: 100%;
  max-width: 300px;
  height: 25px;
  padding: 12px;
  border-radius: 35px;
  border: 1.5px solid lightgrey;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
}

input:hover {
  border: 2px solid lightgrey;
  box-shadow: 0px 0px 20px -17px;
}

input:active {
  transform: scale(0.95);
}

input:focus {
  border: 2px solid grey;
}

img {
  width: 10vw;
  height: auto;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  gap: 10px;
  /* padding: 15px; */
  /* border: solid 2px black; */
  position: relative;
  top: 160px;
  transition: top 0.6s ease-in;
}

.input-container.active {
  top: 80px;
}

.results-container {
  color: #FFF0C4;
  text-align: center;
  padding: 15px;
  display: flex;
  gap: 10px;
  /* border: solid 2px blue; */
  align-items: center;
  justify-content: center;
}

.poster-button {
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
  background-color: #FFF0C4;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  /* text-transform: uppercase; */
  font-size: 15px;
  transition: all 0.5s ease;
}

.poster-button:hover {
  letter-spacing: 3px;
  background-color: #8C1007;
  color: hsl(0, 0%, 100%);
  box-shadow: #8C1007;
}

.poster-button:active {
  letter-spacing: 3px;
  background-color: #8C1007;
  color: hsl(0, 0%, 100%);
  box-shadow: #8C1007;
  transform: translateY(10px);
  transition: 100ms;
}